@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 44% 15%;
    --foreground: 210 40% 98%;
    --card: 222 44% 18%;
    --card-foreground: 210 40% 98%;
    --popover: 222 44% 18%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 84% 10%;
    --secondary: 217 33% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 25%;
    --muted-foreground: 215 25% 65%;
    --accent: 217 33% 25%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 25%;
    --ring: 213 90% 65%;
    --chart-1: 204 90% 50%;
    --chart-2: 210 80% 60%;
    --chart-3: 240 80% 70%;
    --chart-4: 270 80% 80%;
    --chart-5: 300 80% 90%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 0%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 215 28% 17%;
    --sidebar-accent: 215 28% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 215 28% 22%;
    --sidebar-ring: 204 90% 50%;
    --plexus-start-color: 260 100% 70%; /* Purple */
    --plexus-end-color: 140 100% 60%; /* Green */
  }
  .dark {
    --background: 222 44% 15%;
    --foreground: 210 40% 98%;
    --card: 222 44% 18%;
    --card-foreground: 210 40% 98%;
    --popover: 222 44% 18%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 84% 10%;
    --secondary: 217 33% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 25%;
    --muted-foreground: 215 25% 65%;
    --accent: 217 33% 25%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 25%;
    --ring: 213 90% 65%;
    --chart-1: 204 90% 50%;
    --chart-2: 210 80% 60%;
    --chart-3: 240 80% 70%;
    --chart-4: 270 80% 80%;
    --chart-5: 300 80% 90%;
    --sidebar-background: 0 0% 0%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 215 28% 17%;
    --sidebar-accent: 215 28% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 215 28% 22%;
    --sidebar-ring: 204 90% 50%;
    --plexus-start-color: 260 100% 70%; /* Purple */
    --plexus-end-color: 140 100% 60%; /* Green */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply scroll-mt-16;
  }
}
